<header class="jumbotron my-3">
    <h1 class="display-3">¡Bienvenido a nuestro feed RSS!</h1>
    <p class="lead">En este sitio podrás agregar las urls de las
        páginas y blogs de los que quieras estar pendientes de sus
        actualizaciones.</p>
        <form action="" method="post">
            <button 
                class="btn btn-primary btn-lg" 
                name="refresh" 
                type="submit"
            >
                Actualizar <img src="./public/assets/refresh-icon.png" width="16" height="16">
            </button>
        </form>
    <hr />
    <button class="btn btn-info" onclick="window.location='explorerNews.php' ">
        Explorador de noticias
    </button>
</header>