<div class="container">
    <p class="text-center">
        <strong>Ingresa la Url de donde desees recibir sus actualizaciones:</strong>
    </p>
    <form method='post' action='' class="input-group-append">
        <div class="input-group mb-3">
            <input 
                type="text" 
                name="RSSUrl" 
                class="form-control"
                placeholder="http://feeds.bbci.co.uk/news/world/rss.xml"
            >
            <input 
                type="submit" 
                name="submit" 
                value="Ingresar"
                class="btn btn-primary"
            >
        </div>
    </form>
</div>